* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 100px auto;
}

.pixel {
    outline: 1px solid whitesmoke;
}

.header {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px;
}

button {
    padding: 10px;
}