* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 100px auto;
}

.pixel {
    outline: 1px solid whitesmoke;
}

.header {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px;
}

button {
    padding: 10px;
}

#sliderContainer {
    margin: 0 auto;
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 100%;
    background: rgba(200, 255, 238, 0.726);
    opacity: 0.7;
    -webkit-transition: .2s;
    transform: opacity .2s;
}

#slider:hover {
    opacity: 1;
}

#sliderValue {
    text-align: center;
}